<%- include('../includes/header.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (product) { %>
            <div class="product-detail">
                <h1><%= product.title %></h1>
                <p><%= product.description %></p>
                <p><%= product.price %></p>
            </div>
        <% } else { %>
            <h2>No Products Found</h2>
        <% } %>
    </main>
    <%- include('../includes/footer.ejs') %>
</body>