<%- include('../includes/header.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
            <div class="product-grid">
                <% for (let product of prods) { %>
                    <article class="product-card">
                        <div class="product-card-image">
                            <img src="<%= product.imageURL %>" alt="<%= product.title %>">
                        </div>
                        <h2 class="product-card-title"><%= product.title %></h2>
                        <div class="product-card-description">
                            <h3 class="product-card-price"><%= product.price %></h3>
                            <p class="product-card-text"><%= product.description %></p>
                        </div>
                        <div class="product-card-action">
                            <button class="product-card-add">Add to cart</button>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h2>No Products Found</h2>
        <% } %>
    </main>
</body>
</html>